.text-center button{
    margin: 10vh;
}

/* stretch inputs to area */
.input-group{
    display: block !important;
}

/* card styles */
.card{
    border-radius: 8px;
    border: 1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center !important;
    padding: 5px;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    transition: all linear 200ms;
  }

  .d-flex{
    justify-content: center !important;
  }